::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: rgb(255, 0, 0);
}

.home-container {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 35px);
	width: 100%;
	img {
		display: flex;
		position: relative;
		height: 300px;
		top: 30px;
	}
	.search-box {
		display: flex;
		position: relative;
		top: 30px;
		cursor: pointer;
		::placeholder {
			color: rgba(246, 207, 143, 0.411);
		}

		.home-search-input {
			display: flex;
			position: relative;
			width: 500px;
			z-index: 2;
			padding-left: 10px;
			outline: none;
			cursor: pointer;
			background-color: rgba(150, 117, 122, 0.9);
			border-style: solid;
			border-width: 1.5px;
			border: rgba(51, 1, 54, 0.9);
			border-radius: 5px;
			box-shadow: #5e1742 0px 0px 5px, #5e1742 0px 0px 10px,
				#5e1742 0px 0px 15px, #5e1742 0px 0px 20px, #5e1742 0px 0px 30px,
				#5e1742 0px 0px 40px;
			font-size: 20px;
			color: rgb(246, 206, 143);
			padding-left: 10px;
			outline: none;
		}

		svg {
			position: absolute;
			top: 5px;
			right: 6px;
			z-index: 2;
			height: 18px;
			width: 18px;
			fill: rgb(246, 206, 143);
		}
	}
	.dropdown-menu {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		justify-content: flex-start;
		top: 25px;
		flex-wrap: nowrap;
		max-height: 300px;
		overflow: scroll;
	}
	.search-dropdown {
		background: rgba(150, 117, 122, 0.9);
		list-style: none;
		border-bottom: 1px solid #d8d8d823;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 15px 20px;
		transition: 0.2s;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: capitalize;
		cursor: pointer;

		p {
			font-size: 20px;
			width: 450px;
		}
	}
	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
		font-family: sans-serif;
		color: rgb(246, 206, 143);
	}
	.search-dropdown:hover {
		background: rgb(246, 206, 143);
		color: rgba(150, 117, 122, 0.9);
	}
}
