.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    input {
        background-color: transparent;
        border: white solid 5px;
        border-radius: 5px; 
        height: 10vh;
        width: 40vw;
    }
    .dropdown-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .search-dropdown {
        p {
            color: white;
        }
    
    }
    .search-dropdown:hover {
        p{
            color: yellow;
        }
        cursor: pointer;
    }
}